.batizianos table{
    
    width: 100%;
    background: #EBEBEB;
   

    
}
.batizianos h1{
     font-family: 'Fira Sans', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 24px;
     line-height: 24px;
     text-align: center;
     color: #000000;
}
.batizianos h4{
    font-family: 'Roboto', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 14px;
     display: flex;
     align-items: center;
     
     color: #983056;
 }
.batizianos a{
     text-decoration: none;
 }
 .Agregabatizianos {
 
     box-sizing: border-box;
     width: 90%;
     height: 90%;
    
 
 }
 .Agregabatizianos  h3{
     font-family: 'Lato', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 17px;
 }

 
.batizianos button {
    /*botón de publicar en rectángulo*/
      width: 80%;
      height: 50%;
  
      /* Arriba | Derecha | Abajo | Izquierda */
      margin: 0% 0em 0% 0%;
  
      background: #1176CE;
      border-radius: 50px;
      
      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: .8rem;
    
      color: #F1F1F1;
      letter-spacing: 0.07em;
  
      
      
      border: none;
}
  
.batizianos button:hover{
      /*Efecto de oprimir de botón de publicar en rectángulo*/
      background: #0D5DA3;
      opacity: 1;
}