.RegistrarA{
    /* Registrar */
   position: relative;
   width: 75%;
   background: rgba(255, 255, 255, 0.6);
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
   border-radius: 15px;
   margin-bottom: auto;
   margin-top: 0%;
   margin-left: auto;
   margin-right: auto;   
}
.RegistrarA form{
    margin: 5%;
    text-align: center;
}
.RegistrarA a{
    color: #983056;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.RegistrarA h2{
    color: #411425;
    font-size: 1.7em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.RegistrarA h3{
    color: #411425;
    font-size: .99em;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
}
.RegistrarA a:hover{
    color: #500f27;
    text-decoration: none;
   


}
.error p{
    color: #411425;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;

}

